@charset "utf-8";
/* CSS Document */
h1 {color: #990040;}  
p {font-family: Verdana;}
p { color: #000000;}
body{ text-align: center}
body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ffondosmil.com%2Fazul-claro&psig=AOvVaw0gf7fkTjKoE42E_1ongfSs&ust=1668705916887000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMjmkM7is_sCFQAAAAAdAAAAABAD");
  }


h3 {font-style: oblique}